html, body{
  background-color: #fff;
  color: #555;
}

a{
  color: #919191;
}
img{
  border-radius: 4px;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
}
.blog-masthead{
  background-color: #ddd;
}
.nav{
  text-align: center;
}
/*nav ul{
  overflow: hidden;
  line-height: inherit;
  padding:0;
  margin:0;
}
.nav a{
  height: 50px;
  line-height: 50px;
  display: inline-block;
  background-color: #ccc;
}*/
#block-lsbstable-branding {
  text-align: center;
}

#block-lsbstable-branding img{
  box-shadow: none;
  border: none;
}

.blog-main, .blog-sidebar{
  margin-bottom: 2rem;
}

.btn{
  margin:.25rem 0;
}

nav#block-lsbstable-footer a{
  display: inline-block;
  width: 100%;
  padding:.25rem .5rem;

}
ul.weekly-hours{
    font-size: .75rem;
  /*font-family: 'helvetica neue', helvetica, arial, sans-serif;*/
}
/*ul.address li{
  display: inline;
  
}*/
/*ul.address li:after{
  content: ' |';
}*/

/*ul.socialmedialinks li{
  display: inline-block;
}*/
.icon{
  height: 2rem;
  width: 2rem;
  fill:#919191;
}
.icon a{
  display: inline-block;
  float: left;
}

.blog-footer ul{
  text-align: center;
  display: inline-block;
/*  overflow: hidden;
margin:0 auto;*/

 /* font-size: .75rem;*/
  /*font-family: 'helvetica neue', helvetica, arial, sans-serif;*/
 
}
.blog-footer li{
  display: inline-block;
  
}
.credits{
  font-size: .75rem;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #e3e2e2;
}
/*@media (min-width: 480px) {
  body{
    background-color: pink;
  }
}

@media (min-width: 544px) {
  body{
    background-color: red;
  }
}
@media (min-width: 672px) {
  body{
    background-color: orange;
  }
}
@media (min-width: 768px) {
  body{
    background-color: yellow;
  }
}
@media (min-width: 992px) {
  body{
    background-color: green;
  }
}
@media (min-width: 1200px) {
  body{
    background-color: blue;
  }
}*/